<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each.with_index do |story, index|%>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to story.title, story.link %><em>(<%= story.link %>)</em></td>
        <td>by <%= link_to story.email, "mailto:#{story.email}" %></td>
        <td>
          <p>
            <%= distance_of_time_in_words_to_now(story.created_at) %> ago
          </p>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
